In [1]:
import pandas as pd

### city_df

In [104]:
city_df = pd.read_csv('oyo_city.csv')

In [106]:
city_df.head()

   hotel_id     city
0       3.0  Gurgaon
1      13.0  Gurgaon
2      16.0  Gurgaon
3      21.0  Gurgaon
4      25.0    Delhi

In [108]:
print(len(city_df))

9994

In [110]:
print(city_df.dtypes)

hotel_id    float64
city         object
dtype: object

In [115]:
city_df.isnull().sum()

hotel_id    9637
city        9637
dtype: int64

In [117]:
percent_null = (city_df["hotel_id"].isnull().sum() * 100) / len(city_df)
percent_null

96.42785671402842

In [119]:
clean_city_df = city_df.dropna(subset=["hotel_id"])

In [121]:
clean_city_df.isna().sum()

hotel_id    0
city        0
dtype: int64

In [123]:
clean_city_df["hotel_id"] = clean_city_df["hotel_id"].astype(int)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21512\855464108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_city_df["hotel_id"] = clean_city_df["hotel_id"].astype(int)

In [125]:
clean_city_df.head()

   hotel_id     city
0         3  Gurgaon
1        13  Gurgaon
2        16  Gurgaon
3        21  Gurgaon
4        25    Delhi

In [131]:
clean_city_df.to_csv("oyo_city_cleaned.csv", index=False)

### sales_df

In [ ]:
sales_df = pd.read_csv('oyo_sales.csv')

In [ ]:
sales_df.head()

In [97]:
print(len(sales_df))

2889

In [99]:
print(sales_df.dtypes)

booking_id          int64
customer_id         int64
status             object
check_in           object
check_out          object
no_of_rooms         int64
hotel_id            int64
amount              int64
discount            int64
date_of_booking    object
dtype: object

In [101]:
sales_df.isnull().sum()

booking_id         0
customer_id        0
status             0
check_in           0
check_out          0
no_of_rooms        0
hotel_id           0
amount             0
discount           0
date_of_booking    0
dtype: int64