In [2]:
#Importing the packages
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [4]:
#Creating the SparkSession
spark = SparkSession.builder.appName("FirstApp").getOrCreate()

In [5]:
#Defining schema for your DataFrame
myschema = StructType([\
                       StructField("userID", IntegerType(), True),
                       StructField("name", StringType(), True),
                       StructField("age",IntegerType(), True),
                       StructField("friends",IntegerType(), True),
                        ])

In [6]:
#Creating DataFrame on a CSV file
people = spark.read.format("csv")\
    .schema(myschema)\
    .option("path","fakefriends.csv")\
    .load()

In [7]:
#Performing all thetransformations
output = people.select(people.userID,people.name\
                       ,people.age,people.friends)\
         .where(people.age < 30).withColumn('insert_ts', func.current_timestamp())\
         .orderBy(people.userID)

In [8]:
#taking the count of o/p DataFrame
output.count()

112

In [9]:
#Creating a Temp View
output.createOrReplaceTempView("peoples")

In [10]:
#Running a simple Spark SQL query
spark.sql("select name,age,friends,insert_ts from peoples").show()

+--------+---+-------+--------------------+
|    name|age|friends|           insert_ts|
+--------+---+-------+--------------------+
|Jean-Luc| 26|      2|2025-08-01 09:20:...|
|    Hugh| 27|    181|2025-08-01 09:20:...|
|  Weyoun| 22|    323|2025-08-01 09:20:...|
|   Miles| 19|    268|2025-08-01 09:20:...|
|  Julian| 25|      1|2025-08-01 09:20:...|
|     Ben| 21|    445|2025-08-01 09:20:...|
|  Julian| 22|    100|2025-08-01 09:20:...|
|     Nog| 26|    281|2025-08-01 09:20:...|
| Beverly| 27|    305|2025-08-01 09:20:...|
|    Morn| 25|     96|2025-08-01 09:20:...|
|   Brunt| 24|     49|2025-08-01 09:20:...|
|     Nog| 20|      1|2025-08-01 09:20:...|
| Beverly| 19|    269|2025-08-01 09:20:...|
|   Brunt| 19|      5|2025-08-01 09:20:...|
|  Geordi| 20|    100|2025-08-01 09:20:...|
|  Geordi| 21|    477|2025-08-01 09:20:...|
|  Kasidy| 22|    179|2025-08-01 09:20:...|
|   Brunt| 20|    384|2025-08-01 09:20:...|
|     Ben| 28|    311|2025-08-01 09:20:...|
|    Worf| 24|    492|2025-08-01 09:20:...|
+--------+---+-------+--------------------+
only showing top 20 rows