In [1]:
import pandas as pd
import numpy as np

# Empty Series
ser = pd.Series()
print("Empty Series:", ser)

# Series from array
data = np.array(['H', 'e', 'x', 'a', 'a'])
ser = pd.Series(data)
print("Series from array:\n", ser)

Empty Series: Series([], dtype: object)
Series from array:
 0    H
1    e
2    x
3    a
4    a
dtype: object

In [3]:
# From a list of lists
data = [
    ["James", "", "Smith", 30, "M", 60000],
    ["Michael", "Rose", "", 50, "M", 70000],
    ["Robert", "", "Williams", 42, "", 400000],
    ["Maria", "Anne", "Jones", 38, "F", 500000],
    ["Jen", "Mary", "Brown", 45, None, 0]
]
columns = ['First Name', 'Middle Name', 'Last Name', 'Age', 'Gender', 'Salary']
df = pd.DataFrame(data=data, columns=columns)
print(df)

  First Name Middle Name Last Name  Age Gender  Salary
0      James                 Smith   30      M   60000
1    Michael        Rose             50      M   70000
2     Robert              Williams   42         400000
3      Maria        Anne     Jones   38      F  500000
4        Jen        Mary     Brown   45   None       0

In [5]:
NaN = np.nan
df = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

# Count non-null values
print("Column-wise counts:\n", df.count())
print("Row-wise counts:\n", df.count(axis=1))

# Null value summary
print("Null values per column:\n", df.isnull().sum())
print("Total null values:", df.isnull().sum().sum())

# Filtering
print("Students with Physics > 11:\n", df[df['Physics'] > 11])

Column-wise counts:
 Name         6
Physics      5
Chemistry    5
Math         4
dtype: int64
Row-wise counts:
 0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64
Null values per column:
 Name         0
Physics      1
Chemistry    1
Math         2
dtype: int64
Total null values: 4
Students with Physics > 11:
       Name  Physics  Chemistry  Math
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN

In [7]:
# importing Libraries
import pandas as pd
import numpy as np

# Creating dataframe using dictionary
NaN = np.nan
dataframe = pd.DataFrame({
    'Name': ['Shobhit', 'Vaibhav', 'Vimal', 'Sourabh', 'Rahul', 'Shobhit'],
    'Physics': [11, 12, 13, 14, NaN, 11],
    'Chemistry': [10, 14, NaN, 18, 20, 10],
    'Math': [13, 10, 15, NaN, NaN, 13]
})

print("Created Dataframe")
print(dataframe)

# finding Count of all columns
print("\nCount of all values wrt columns")
print(dataframe.count())

# Count according to rows
print("\nCount of all values wrt rows")
print(dataframe.count(axis=1))
print(dataframe.count(axis='columns'))

# count of null values
print("\nNull Values counts")
print(dataframe.isnull().sum())
print("Total null values:", dataframe.isnull().sum().sum())

# count of students with greater than 11 marks in physics
print("\nCount of students with physics marks greater than 11 is->", 
      dataframe[dataframe['Physics'] > 11]['Name'].count())

# resultant of above dataframe
print("\nStudents with Physics > 11:")
print(dataframe[dataframe['Physics'] > 11])

# count of students meeting multiple criteria
print("\nCount of students with Physics>10, Chemistry>11, Math>9:", 
      dataframe[(dataframe['Physics'] > 10) & 
               (dataframe['Chemistry'] > 11) & 
               (dataframe['Math'] > 9)]['Name'].count())

print("\nThese students are:")
print(dataframe[(dataframe['Physics'] > 10) & 
               (dataframe['Chemistry'] > 11) & 
               (dataframe['Math'] > 9)])

Created Dataframe
      Name  Physics  Chemistry  Math
0  Shobhit     11.0       10.0  13.0
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN
4    Rahul      NaN       20.0   NaN
5  Shobhit     11.0       10.0  13.0

Count of all values wrt columns
Name         6
Physics      5
Chemistry    5
Math         4
dtype: int64

Count of all values wrt rows
0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64
0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64

Null Values counts
Name         0
Physics      1
Chemistry    1
Math         2
dtype: int64
Total null values: 4

Count of students with physics marks greater than 11 is-> 3

Students with Physics > 11:
      Name  Physics  Chemistry  Math
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN

Count of students with Physics>10, Chemistry>11, Math>9: 1

These students are:
      Name  Physics  Chemistry  Math
1  Vaibhav     12.0       14.0  10.0

In [9]:
data = [["James","","Smith",30,"M",60000],
["Michael","Rose","",50,"M",70000],
["Robert","","Williams",42,"",400000],
["Maria","Anne","Jones",38,"F",500000],
["Jen","Mary","Brown",45,None,0]]
columns=['First Name','Middle Name','Last Name','Age','Gender','Salary']

# Create the pandas DataFrame
pandasDF=pd.DataFrame(data=data, columns=columns)
# print dataframe.
print(pandasDF)

  First Name Middle Name Last Name  Age Gender  Salary
0      James                 Smith   30      M   60000
1    Michael        Rose             50      M   70000
2     Robert              Williams   42         400000
3      Maria        Anne     Jones   38      F  500000
4        Jen        Mary     Brown   45   None       0